button {
  background-color: #f1e78a;
  border: 0 solid #e5e7eb;
  color: #000000;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transform: rotate(0deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  margin: auto;
  width: 200px;
}

button:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button:hover {
  transform: scale(0.96);
}

@media (min-width: 768px) {
  button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div {
  text-align: center;
}

input {
  border-color: #959595;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 30px;
  background-color: transparent;
}